<div class="header">
  <span class="logo">Media Player</span>
  <span class="add-form">
    <input type="text" name="url" placeholder="Playlist Url" #url>
    <button type="submit" (click)="addPlaylist(url.value)">+ Add</button>
  </span>
</div>
<div class="container">
  <div class="sidebar">
    <app-channel-list [playlistUrl]="playlistUrl" (channelSelect)="handleChannelSelect($event)"></app-channel-list>
  </div>
  <div class="player">
    <app-video-player [channel]="selectedChannel"></app-video-player>
  </div>
</div>